Chapters/*.aux
FrontBackmatter/*.aux
tesis.m*
*DS_Store

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.mtc1
*.out
tesis.out
test_pygment ize.tex
tesis.pdf
